.page{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer{
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
}

.formLogo{
  display: flex;
  justify-content: center;
}

.star{
  color: red;
}

.warning{
  color: red;
  font-weight: bolder;
}

.submitBtn{
  width: 100%;
  min-width: 200px;
}

.inp-field{
  height: 30px;
  width: 30%;
  min-width: 200px;
}
