.page{
  min-height: 100vh;
  padding: 20px;
}

.shows-container{
  margin-top: 30px;
}

.shows{
  margin-top: 15px;
  width: 50%;
  display: flex;
  justify-content: space-between; 
  border: 1px solid black;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
}

.movie{
  height: 120px;
  width: 190px;
  text-align: center;
  background-color: darkorange;
  border-radius: 8px;
  padding: 4px 0px;
  color: black;
}

.book-btn{
  color: white;
  text-decoration: none;
  font-size: larger;
  background-color: black;
  padding: 5px;
  border-radius: 20px;
}
.book-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.movieLink{
  text-decoration: none;
}