
/* admin tables */

.heading{
  display: flex;
  justify-content: space-between;
}
.heading-name{
  margin: 15px;
}
.addnewcinema{
  margin: 15px;
  text-decoration: none;
}



.main{
  display: flex;
  justify-content: center;
}

.operations{
  margin-left: 4px;
  text-decoration: none;
}