.navbar{
  background-color: black;
  display: flex;
  justify-content:left;
  height: 30px;
  width: 100%;
  align-items: center;
}

.items{
  list-style-type: none;
  color: aliceblue;
  font-size: larger;
}
.items:hover{
  color: orange;
  border-bottom: 2px solid white;
}

.links{
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}
