.page{
    min-height: 80vh;
    padding: 30px;
}

.link{
    text-decoration: none;
    margin-right: 10px;
}

.inp-field{
    height: 30px;
    width: 30%;
    min-width: 200px;
}
  
.mandatory{
    color: red;
}

.warning{
    color: red;
}

.formBtn{
    margin: 3px;
}