.back-btn {
  display: flex;
  align-items: center;
  color: var(--orange);
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
}

.back-btn svg {
  height: 40px;
  width: 40px;
  margin-left: -15px;
  margin-right: -5px;
}

.back-btn path {
  fill: var(--orange)
}

/*=============================================
=        ShowingInfo                          =
=============================================*/

.showing-container {
  display: flex;
  width: 92%;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  color: white;
}

.showing-info .showing--title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 90%;
  margin-top: 20px;
  margin-bottom: 25px;
}

.showing-info .showing--header {
  font-weight: 700;
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.showing-info .showing--text {
  font-size: 18px;
  color: var(--transparent-white);
  line-height: 130%;
}

.showing-info .showing--text span {
  font-size: 17px;
  color: var(--orange);
  text-transform: uppercase;
  font-weight: 700;
}

.showing-info--line {
  margin-top: 25px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.3);
}

@media screen and (max-width: 800px) {
  .showing-info .showing--title {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .showing-info .showing--title {
    font-size: 32px;
  }
}


/*=============================================
=        Tickets                              =
=============================================*/
.showing-screen {
  background: #cccccc;
  color: black;
  text-align: center;
  margin-bottom: 12px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  padding: 2px 0;
}


.tickets-container {
  display: grid;
  grid-gap: 12px;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(16, 1fr);
  margin-bottom: 50px;
}

.tickets--ticket {
  background: #555555;
  color: #6f6f6f;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.tickets--ticket.reserved {
  background: black;
  color: #333333;
}

.tickets--ticket.chosen {
  background: #ff8ca5;
  color: #ffcfe7;
}

.tickets--ticket.active {
  background: #b50264;
  color: #ff71b8;
}

.ticket-count {
  margin-bottom: 20px;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.ticket-count .showing--header {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 10px;
}

.ticket-count .checkout-btn {
  background-color: var(--orange);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 200ms;
  color: white;
  text-decoration: none;
}

.ticket-count .checkout-btn:hover {
  background-color: var(--transparent-hover);
}

@media screen and (max-width: 800px) {
  .tickets-container {
    grid-gap: 8px;
  }

  .tickets--ticket {
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .tickets-container {
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: repeat(16, 30px);
    overflow-x: scroll;
  }

  .ticket-count {
    flex-direction: column;
    align-items: flex-start;
  }

  .ticket-count .checkout-btn {
    font-size: 12px;
    padding: 8px 12px;
    margin-left: 0;
    margin-top: 20px;
  }
}